
<%= render 'layouts/navigation' %>
<div class="bg-white mb-8 flex flex-col items-center">

  <div class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate text-center mb-12 animate__animated animate__bounce">Pokemones</div>

  <div class="grid gap-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-items-center">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon.number), class:" bg-#{pokemon.color} w-64 h-40 rounded-2xl px-4 py-3 relative" do %>

        <div class="text-white text-right text-xl font-medium mr-3"> <%= "##{pokemon.number}" %></div>

        <div class="text-white text-left text-xl font-semibold capitalize mb-2.5 ml-2.5"><%= pokemon.name%> </div>

        <div class="absolute bottom-0 right-0">
          <svg width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M94.8572 70.2576C92.5306 85.1706 79.5919 96.589 63.9592 96.589C48.3266 96.589 35.3878 85.1706 33.0613 70.2576H0.00012207C3.14298 102.644 30.6123 128 64.0001 128C97.3878 128 124.816 102.644 128 70.2576H94.8572Z" fill="#FEFEFE" fill-opacity="0.2"/>
          <path d="M64 89.7866C77.2548 89.7866 87.9999 79.0892 87.9999 65.8933C87.9999 52.6974 77.2548 42 64 42C50.7452 42 40 52.6974 40 65.8933C40 79.0892 50.7452 89.7866 64 89.7866Z" fill="#FEFEFE" fill-opacity="0.2"/>
          <path d="M33.6734 57.7422C37.1428 44.292 49.3877 34.3365 63.9999 34.3365C78.6122 34.3365 90.8571 44.292 94.2856 57.7422H127.959C124.816 25.3562 97.3468 0 63.9999 0C30.6122 0 3.14285 25.3562 0 57.7422H33.6734Z" fill="#FEFEFE" fill-opacity="0.2"/>
          </svg>
        </div>
        <%= image_tag(pokemon.image, size: "84", class: "absolute top-14 right-2.5") %>

        <% pokemon.types.each do |type| %>
          <div id= "type" class="bg-white rounded-3xl text-white text-base text-center font-medium w-24 px-5 py-0.5 ml-2.5 mb-2 bg-opacity-20 capitalize">
            <%= type %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>




<%# <%= link_to 'New Pokemon', new_pokemon_path %>
